<button mat-button matTooltip="Premier enregistrement de la sélection" [disabled]="!navigable.navigation?.hasPrevious"
  (click)="onFirst()">
  <mat-icon>skip_previous</mat-icon>
  Premier
</button>
<button mat-button matTooltip="Enregistrement précédent" [disabled]="!navigable.navigation?.hasPrevious"
  (click)="onPrevious()">
  <mat-icon>navigate_before</mat-icon>
  Précédent
</button>
<button mat-button matTooltip="Enregistrement suivant" [disabled]="!navigable.navigation?.hasNext" (click)="onNext()">
  <mat-icon>navigate_next</mat-icon>
  Suivant
</button>
<button mat-button matTooltip="Dernier enregistrement de la sélection" [disabled]="!navigable.navigation?.hasNext"
  (click)="onLast()">
  <mat-icon>skip_next</mat-icon>
  Dernier
</button>
<p>
  {{ current?.name }}
</p>
